<div class="multi-select-pager">
	<div class="pull-right" ng-hide="multiSelectKeysCtrl.isDirty">
		<paging-summary
			last-item-index="multiSelectKeysCtrl.lastItemIndex"
			current-page="multiSelectKeysCtrl.currentPage"
			count="multiSelectKeysCtrl.count"
			total="multiSelectKeysCtrl.totalKeys">
		</paging-summary>
		<ul id="keysMultiSelectPagination" class="pagination" items-per-page="[5,10,15]"></ul>
	</div>
	<table multi-select id="keys-multi-select" actions="multiSelectKeysCtrl.actions" is-checked="multiSelectKeysCtrl.isAllSelected" is-dirty="multiSelectKeysCtrl.isDirty"
	selected="multiSelectKeysCtrl.selected" total-items="multiSelectKeysCtrl.totalKeys" ng-init="multiSelectKeysCtrl.selected={}" class="table table-striped table-hover table-filtSort">
		<thead>
			<tr sortable-row="keys">
				<th column-name="Name" draggable="true" class="fixed-size-column md-column" data-sortable data-filterable data-field="_id" data-placeholder="Search by name">Name</th>
				<th column-name="Description" draggable="true" class="fixed-size-column md-column" data-sortable data-filterable data-field="description" data-placeholder="Search by description">Description</th>
				<th column-name="Modified By" draggable="true" class="fixed-size-column md-column" data-sortable data-filterable data-field="modifiedBy" data-placeholder="Search by last modifier">Modified By</th>
				<th column-name="Date Modified" draggable="true" class="fixed-size-column md-column" data-sortable data-filterable data-type="dateRange" data-field="dateModified">Date Modified</th>
				<th column-name="Edit" class="fixed-size-column action-column"></th>
			</tr>
		</thead>
		<tbody>
			<tr sortable-row="keys" selectable id="row-{{$index}}" model="key" key="key._id" ng-repeat="key in multiSelectKeysCtrl.keys">
				<td column-name="Name" >{{ key._id }}</td>
				<td column-name="Description" title="{{ key.description }}">{{ key.description | ellipsis}}</td>
				<td column-name="Modified By">{{ key.modifiedBy }}</td>
				<td column-name="Date Modified">{{ key.dateModified | date:"MM/dd/yyyy 'at' h:mma"}}</td>
				<td column-name="Edit" class="fixed-size-column">
					<a class="fa fa-pencil edit-button" single-item-action ng-click="multiSelectKeysCtrl.editKey($index)"
					ng-class data-toggle="modal" data-target="#editKeyModal">
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>