gitIgnore
public/docs
public/sdk_docs
libraries
node_modules
version
docs
sdk_docs/_build
RPM/*.rpm
RPM/*.deb
RPM/*.tar
NVMeshCLI/build
NVMeshCLI/dist
*.pyc
*.patch
*.css
*.map
.*
!.github
!.gitignore
!.eslin*
test/test.log
public/javascripts/components_js
/package-lock.json
!/.babelrc.js
public/javascripts/consts.js
test/openTelemetry/metrics
!.gitlab-ci.yml
!.mocharc.json
