<form ng-submit="data.requireUserInput ? ok(password): ok()">
	<div class="modal-header"><h3 class="modal-title text-center">{{data.title}}</h3></div>
	<div class="modal-body">
		<label class="control-label confirmation-message">{{data.text}}</label>
		<ng-form name="confirmForm">
		<div ng-class="{'has-error': authenticationMsg}">
			<input name="password" ng-show="data.requireUserInput" class="form-control" type="password" autofocus placeholder="{{isMTLS ? 'Enter Email' : 'Enter Password'}}" ng-model="password" ng-required="data.requireUserInput">
			<div ng-if="authenticationMsg">
				<br />
				<i class="ion ion-alert-circled"></i>
				<label class="control-label">{{ authenticationMsg }}</label>
			</div>
		</div>
		</ng-form>
	</div>
	<div class="modal-footer">
		<input id="submitConfirmation" type="submit" ng-value="data.ok" class="btn btn-primary" ng-disabled="confirmForm.$invalid">
		<button class="btn btn-default" ng-value="data.cancel" ng-click="cancel()">{{data.cancel}}</button>
	</div>
</form>