$placeholder: #E6ECEF;
$normal: #14A4DD;
$warning: #F9C117;
$error: #E31D38;
$action: #337AB7;
$online: #00a65a;

$skinlight: #EFF3F4;
$skinmid: #E1E6E9;
$skindark: #002633;
$darkgraytext: $skindark;
$lightgraytext: $skindark;
$logobackground: $normal;
$topbartext: #FFFFFF;
$dividers: $placeholder;
$sidebartoggle: #014B66;
$sidebartogglehover: #005e7f;
$loginbtn: $normal;
$loginbtnhover: #51b9ea;
$infobtn: $normal;
$infobtnhover: #2691C1;
$dangerbtn: $error;
$dangerbtnhover: #B73838;
$tabletrodd: #F2F6F7;
$tabletroddhover: #F5F5F5;
$menuTransitionTime: 0.3s;
$statisticsColor1: $normal;
$statisticsColor2: #7854A8;
$statisticsColor3: #97D073;
$statisticsColor4: $error;
$statisticsHighlight1: $statisticsColor1;
$statisticsHighlight2: $statisticsColor3;
$statisticsSelected: $statisticsColor2;
$modalheader: $skindark;
$modalheaderheight: 56px;
$modalheadertext: #F4FCFF;
$disabledlink: gray;
$glyphIconButtonsFontSize:22px