<div ng-controller="alertsController">
	<ul class="nav nav-pills">
		<li><a href class="all selected" data-value="ALL">All</a></li>
		<li><a href class="warning" data-value="WARNING">Warning</a></li>
		<li><a href class="error" data-value="ERROR">Error</a></li>
		<li class="ack-all-container"><button class="btn btn-info light-blue ack mgmt-btn-info"  ng-disable="!user.isAdming" ng-click="ackAll()">Ack All</button></li>
	</ul>
	<table class="alerts-table table table-striped table-hover table-filtSort">
		<thead>
			<tr>
				<th data-sortable data-filterable data-field="meta.header">Header</th>
				<th data-sortable data-filterable data-field="message">Message</th>
				<th class="timestamp-column" data-sortable data-filterable data-type="dateRange" data-field="timestamp" data-direction="desc">Date Created</th>
				<th class="fixed-size-column" data-sortable data-field="level">Level</th>
				<th class="fixed-size-column">Acknowledge</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="alert in alerts" id="{{ alert._id }}">
				<td><strong>{{ alert.meta.header }}</strong></td>
				<td ng-bind-html="createLinkMessage(alert)"></td>
				<td class="timestamp-column">{{ alert.timestamp | date:"MM/dd/yyyy 'at' H:mm:ss"}}</td>
				<td class="fixed-size-column"><span class="log-level label label-{{ alert.level | levelToClass }}">{{ alert.level }}</span></td>
				<td class="fixed-size-column"><button class="btn btn-info light-blue ack mgmt-btn-info" ng-disabled="!user.isAdmin" data-id="{{ alert._id }}">Ack</button></td>
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<ul id="alertsPagination"></ul>
	</div>
</div>
