<tbody ng-show="multiSelectBallonCtrl.shouldShow()" class="multi-select-balloon">
	<tr>
		<td colspan="999">
			<div class="alert alert-info fade in alert-losing-changes" >
				<i class="ion ion-information-circled"></i>
				<span ng-if="!multiSelectBallonCtrl.allPagesSelected">All <strong>{{multiSelectBallonCtrl.currentlySelected}}</strong> drives in this page are selected.
					<a class="alert-losing-changes-btn" ng-click="multiSelectBallonCtrl.allPagesSelected = true;">select all {{multiSelectBallonCtrl.totalItems}} drives in cluster</a></span>
				<span ng-if="multiSelectBallonCtrl.allPagesSelected">All <strong>{{multiSelectBallonCtrl.totalItems}}</strong> drives in cluster are selected.
					<a class="alert-losing-changes-btn" ng-click="multiSelectBallonCtrl.allPagesSelected = false; multiSelectBallonCtrl.isAllSelected = false; multiSelectBallonCtrl.clearSelection()">clear selection</a></span>
			</div>
		</td>
	</tr>
</tbody>