<div ng-controller="nicDisplayController as nicCtrl"  title="{{nic.pkey ? 'pkey:' + nic.pkey : '' }}">
	<div class="header">
		<h4 class="box-header with-border">{{ nic | guidToIP }}</h4>
	</div>
	<div class="body">
		<div>ID <small>{{ nic.nicID }}</small></div>
		<div><strong>Protocol
			<span class="label label-info nic-protocol" ng-repeat="protocol in nicCtrl.getNicProtocols(nic)">{{ protocol }}</span>
		</strong></div>
		<div>MTU <span class="label" ng-class="{ 'label-success' : nic.mtu <= nicMtuThreshold, 'label-warning' : nic.mtu > nicMtuThreshold }">{{ nic.mtu }}</span></div>
		<div>Device <small>{{ nic.deviceType }}</small></div>
		<!-- <div>Pkey <small>{{ nic.pkey }}</small></div> -->
		<div ng-if=false >Speed <small>{{ nic.speed }}</small></div>
		<div>PCI Root <small>{{ nic.pci_root }}</small></div>
		<button class="btn btn-danger mgmt-btn-danger" ng-disabled="!user.isAdmin || nic.status !== 'Missing'" ng-click="removeNic(nic)">Del</button>
		<i class="nic-icon fa fa-signal"></i>
		<i class="nic-status" ng-class="nic | nicToHealth" title="{{ nic | nicToHealthMessage }}"></i>
	</div>
	<!--
	<div class="temp-usage-label">
		<span class="label bg-{{ nic | nicToBackground }}">{{ nic.status }}</span>
	</div>
	-->
</div>
