<div class="tiles-diagram-container">
	<div ng-repeat="item in sortedTilesDiagramCtrl.items | orderBy :(sortedTilesDiagramCtrl.valueField ? sortedTilesDiagramCtrl.valueField :null):true track by $index"
		style="background-color: {{sortedTilesDiagramCtrl.percentToRGB(
			sortedTilesDiagramCtrl.valueField ?	item[sortedTilesDiagramCtrl.valueField] :item)}}"
		class="tile-item" ng-click="sortedTilesDiagramCtrl.onItemClick(item)">
		<div ng-if="sortedTilesDiagramCtrl.displayField" class="popover tile-tooltip segment-popover">
				<div class="segment-popover-body">
					<h3>{{ :: item[sortedTilesDiagramCtrl.displayField]}}</h3>
					{{ ::Math.floor(item[sortedTilesDiagramCtrl.valueField])}}% of drive space allocated
				</div>
			</div>
		</div>
	</div>
</div>