<!-- Choose RAID-Type select -->
<div class="left">
    <div class="form-group" ng-class="{'has-error': (volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10')
                                    && availableMirrors < 1
                                    && !volume.ignoreNodeSeparation}">
        <label class="control-label">Volume Type</label>
        <i><small class="red control-label-right" ng-show="form.$error['hasEnoughMirrors']">No mirrors available</small></i>
        <select name="raidLevel" ng-disabled="disabled" class="form-control" ng-model="volume.RAIDLevel"
            ng-change="volumesCtrl.removeMirrors()">
            <option>Striped RAID-0</option>
            <option>Mirrored RAID-1</option>
            <option>Striped & Mirrored RAID-10</option>
            <option>{{consts.RAIDLevel.ERASURE_CODING}}</option>
            <option>{{consts.RAIDLevel.STRIPED_ERASURE_CODING}}</option>
            <option>{{consts.RAIDLevel.CONCATENATED}}</option>
        </select>
    </div>
    <!-- Target Node Redundancy -->
    <!-- RAID 1 / RAID 10 -->
    <div ng-if="volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10'">
        <div class="form-group">
            <label class="control-label">Target Node Redundancy:</label>
            <div class="inner-addon right-addon">
                <select id="select_radi1NodeSeparation" ng-init="init_raid1NodeSeparation()"
                    ng-model="volume.raid1NodeSeparationString"></select>
            </div>
        </div>
    </div>
    <!-- Erasure Coding -->
    <div class="form-group"
        ng-if="volume.RAIDLevel === consts.RAIDLevel.ERASURE_CODING || volume.RAIDLevel === consts.RAIDLevel.STRIPED_ERASURE_CODING">
        <div ng-class="{'has-error': !volume.protectionLevel}" class="form-group">
            <label class="control-label">Target Node Redundancy:</label>
            <div class="inner-addon right-addon">
                <i class="ion ion-alert-circled" ng-show="!volume.protectionLevel"></i>
                <select id="select_ecSeparation" ng-init="init_ecSeparation()"
                    ng-model="volume.protectionLevel"></select>
            </div>
            <i class="ion ion-alert-circled yellow" ng-show="volume.protectionLevel && volume.protectionLevel !=
        consts.ecSeparationTypes.FULL && volume.parityBlocks == 2"></i>
            <i><small class="red" ng-show="volume.protectionLevel ==
            consts.ecSeparationTypes.MINIMAL && volume.parityBlocks == 2">
                    You are attempting to create a MeshProtect EC volume with dual drive failure redundancy but only 1
                    target host failure redundancy</small></i>
            <i><small class="red" ng-show="volume.protectionLevel ==
        consts.ecSeparationTypes.IGNORE && volume.parityBlocks == 2">
                    You are attempting to create a MeshProtect EC volume with drive failure redundancy, but with no
                    protection against a target host failure</small></i>
        </div>
    </div>
</div>

<!-- Support multiple mirrors - currently disabled -->
<div ng-if="false" ng-class="{'has-error': !form.numberOfMirrors.$valid}" class="form-group"
    ng-if="volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10'">
    <div class="form-group">
        <div class="inner-addon right-addon">
            <i class="ion ion-alert-circled" ng-show="!form.numberOfMirrors.$valid"></i>
            <input name="numberOfMirrors" class="form-control" type="number" ng-model="volume.numberOfMirrors"
                ng-value="{{ volume.numberOfMirrors }}" placeholder="Enter Number Of Mirrors"
                ng-required="volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10'"
                ng-disabled="volumeProvisioningGroupsCtrl.editMode" min="1"
                max="{{ volumeProvisioningGroupsCtrl.availableMirrors }}">
            <i><small>Maximum mirrors available: {{ volumeProvisioningGroupsCtrl.availableMirrors }}</small></i>
        </div>
    </div>
</div>

<!-- Choose stripeSize & stripWidth (in case RAID-Type is Striped RAID-0) -->
<div class="right">
    <div class="layout">
        <div class="form-group"
            ng-if="volume.RAIDLevel === 'Striped RAID-0' || volume.RAIDLevel === 'Striped & Mirrored RAID-10' ||
            volume.RAIDLevel === consts.RAIDLevel.STRIPED_ERASURE_CODING">
            <div ng-class="{'has-error': !form.stripeWidth.$valid}" class="form-group">
                <label class="control-label">Stripe Width:</label>
                <div class="inner-addon right-addon">
                    <i class="ion ion-alert-circled" ng-show="!form.stripeWidth.$valid"></i>
                    <input name="stripeWidth" ng-disabled="disabled" type="number" class="form-control"
                        ng-value="{{ volume.stripeWidth }}" min="2" max="128" ng-model="volume.stripeWidth"
                        placeholder="Enter stripe width"
                        ng-required="volume.RAIDLevel === 'Striped RAID-0'">
                </div>
            </div>
            <div ng-if="false" ng-class="{'has-error': !form.stripeSize.$valid}" class="form-group">
                <label class="control-label">Stripe Size:</label>
                <div class="inner-addon right-addon">
                    <i class="ion ion-alert-circled" ng-show="!form.stripeSize.$valid"></i>
                    <input name="stripeSize" disabled class="form-control" type="number"
                        ng-value="{{ volume.stripeSize }}" min="1" ng-model="volume.stripeSize"
                        placeholder="Enter Stripe Size (4KB Blocks)"
                        ng-required="volume.RAIDLevel === 'Striped RAID-0'">
                </div>
            </div>
        </div>
        <!-- Erasure Coding Specific Options -->
        <div class="form-group"
            ng-if="volume.RAIDLevel === consts.RAIDLevel.ERASURE_CODING || volume.RAIDLevel === consts.RAIDLevel.STRIPED_ERASURE_CODING">
            <div ng-class="{'has-error': !form.dataBlocks.$valid}" class="form-group">
                <label class="control-label">Data Blocks:</label>
                <div class="inner-addon right-addon">
                    <i class="ion ion-alert-circled" ng-show="!form.dataBlocks.$valid"></i>
                    <input name="dataBlocks" class="form-control" type="number" min="1"
                        max="{{(volume.parityBlocks === 2) ? 10 : 11}}" ng-model="volume.dataBlocks"
                        placeholder="Enter Data Blocks"
                        ng-required="volume.RAIDLevel === consts.RAIDLevel.ERASURE_CODING || volume.RAIDLevel === consts.RAIDLevel.STRIPED_ERASURE_CODING"
                        ng-disabled="disabled">
                </div>
            </div>

            <div ng-class="{'has-error': !form.parityBlocks.$valid}" class="form-group">
                <label class="control-label">Parity Blocks:</label>
                <div class="inner-addon right-addon">
                    <i class="ion ion-alert-circled" ng-show="!form.parityBlocks.$valid"></i>
                    <input name="parityBlocks" class="form-control" type="number" min="1" max="2"
                        ng-model="volume.parityBlocks" placeholder="Enter Parity Blocks"
                        ng-required="volume.RAIDLevel === consts.RAIDLevel.ERASURE_CODING || volume.RAIDLevel === consts.RAIDLevel.STRIPED_ERASURE_CODING"
                        ng-disabled="disabled">
                </div>
            </div>
        </div>
        <!-- Enable CRC Check -->
        <div class="form-group button-aligned top-aligned"
            ng-if="volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10' || volume.RAIDLevel === 'Erasure Coding'
            || volume.RAIDLevel === 'Striped Erasure Coding'">
            <label class="control-label">Enable CRC Check:</label>
            <div class="inner-addon right-addon inline-toggle-container">
                <toggle
                    disabled="(volume.RAIDLevel === 'Mirrored RAID-1' || volume.RAIDLevel === 'Striped & Mirrored RAID-10') && disabled"
                    value="volume.enableCrcCheck" positive="" negative=""></toggle>
            </div>
        </div>
    </div>
</div>