<span style="cursor: pointer" ng-click="toggleAllTargetsView()" >{{targetsShown ? 'hide all' : 'show all'}}</span>
<span ng-show="targetsShown">
    <span> | </span>
    <span style="cursor: pointer" ng-click="toggleAllTargetsState(true)">Expand all targets</span>
    <span > | </span>
    <span style="cursor: pointer" ng-click="toggleAllTargetsState(false)">Collapse all targets</span>
</span>
<div class="row" ng-repeat="target in targets track by $index">
    <h3 style="display: inline-block">{{ target._id }}</h3>
    <span style="cursor: pointer" ng-click="toggleDisksView(target)" >{{target.disksView == 'show' ? 'hide' : 'show'}}</span>
    <span ng-show="target.disksView == 'show'"> | </span>
    <span ng-show="target.disksView == 'show'" style="cursor: pointer" ng-click="toggleAllDisksState(target, true)" >Expand all drives</span>
    <span ng-show="target.disksView == 'show'"> | </span>
    <span ng-show="target.disksView == 'show'" style="cursor: pointer" ng-click="toggleAllDisksState(target, false)" >Collapse all drives</span>
    <hr />
    <div ng-show="target.disksView == 'show'" class="inlineBlock" ng-repeat="disk in target.disks track by $index">
        <span ng-click="disk.diagramSize == 'small' && toggleDiagramSize(disk)">
                <diskDisplay server="serverCtrl.server" diagram-size="disk.diagramSize" disk="disk"
                volume-name="{{ volumeID }}" use-full-size-modal="true"></diskDisplay>
        </span>

    </div>
</div>