<div>
	<div class="alert alert-danger fade in alert-losing-changes" ng-if="multiSelectCtrl.isDirty && multiSelectCtrl.pendingAction">
		<i class="ion ion-alert-circled"></i>
		<strong>Action needed!</strong> Your {{ multiSelectCtrl.pendingAction.text }} action isn’t final until you save it.
		<span class="pull-right">
			<i class="fa fa-floppy-o"></i>
			<a id="saveChangesAnchor" tabindex="0" class="alert-losing-changes-btn" href='#' ng-click="multiSelectCtrl.save()">Save Changes</a>
			<i class="fa fa-trash-o"></i>
			<a class="alert-losing-changes-btn" href='#' ng-click="multiSelectCtrl.cancel()">Discard Changes</a>
		</span>
	</div>
	<div ng-show="!multiSelectCtrl.isDirty" class="action-container">
		<div ng-repeat-start="action in multiSelectCtrl.actions"
			class="separator multi-select-action-btn" ng-show="action.separator"></div>

		<button	ng-if="!action.isButtonGroup"
				   ng-click="action.skipVerification ? action.click() : multiSelectCtrl.verifyAction(action)"
				   class="btn btn-info mgmt-btn-info multi-select-action-btn"
		ng-disabled="keys(multiSelectCtrl.selected).length == 0 || action.isDisabled()"
		ng-show="action.isVisible ? action.isVisible() : true">{{::action.text}}</button>

		<div class="dropdown" ng-if="action.isButtonGroup">
			<button class="btn btn-info mgmt-btn-info multi-select-action-btn dropdown-toggle" data-toggle="dropdown"
					ng-disabled="keys(multiSelectCtrl.selected).length == 0 || action.isDisabled()">
				{{action.text}}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="subAction in action.actions"
					ng-class="{disabled: subAction.isDisabled()}">
					<a ng-click="subAction.skipVerification ? subAction.click() : multiSelectCtrl.verifyAction(subAction)"
					   ng-disabled="subAction.isDisabled()"
					   ng-show="subAction.isVisible ? subAction.isVisible() : true">
						{{subAction.text}}
					</a>
				</li>
			</ul>
		</div>

		<span ng-repeat-end>   </span>
		<span class="pull-right" ng-hide="keys(multiSelectCtrl.selected).length == 0"></span>
	</div>
</div>